* {
  box-sizing: border-box;
}
body {
  background: #fb6b6b;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  font-family: "Recursive", sans-serif;
}
